@{
    ViewBag.Title = "Inscripciones";
}
@model Business.Entities.AlumnoInscripcion

<link href="~/Content/mis-estilos.css" rel="stylesheet" />

@{ if (ViewBag.Message != null)
    {
        if (ViewBag.Error == 1)
        {
            @:<div id="NotifContainer" style="background-color: khaki;">
                @:<h3 id="txtNotification"><i class="bi bi-exclamation-triangle"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
        else if (ViewBag.Error == 2)
        {
            @:<div id="NotifContainer" style="background-color: crimson;">
                @:<h3 id="txtNotification" style="color: white;"><i class="bi bi-exclamation-diamond"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
        else
        {
            @:<div id="NotifContainer" style="background-color: cornflowerblue;">
                @:<h3 id="txtNotification" style="color: white;"><i class="bi bi-info-circle"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
    }
}

<h1 class="text-center mb-4">Tus datos</h1>

<div id="datos-persona" class="container-fluid mt-5">
    <label class="mb-2">Nombre: </label>
    <input id="txtNombre" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Apellido: </label>
    <input id="txtApellido" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Teléfono: </label>
    <input id="txtTelefono" type="tel" class="form-control mb-2" disabled />

    <label class="mb-2">Dirección: </label>
    <input id="txtDireccion" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Fecha de nacimiento: </label>
    <input id="txtNacimiento" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Email: </label>
    <input id="txtEmail" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Legajo: </label>
    <input id="txtLegajo" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Plan: </label>
    <input id="txtPlan" type="text" class="form-control mb-2" disabled />

    <div class="d-flex justify-content-between" style="grid-column: 1 / 5; ">
        <button id="btnAgregar" type="button" class="btn btn-success px-4 mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Inscribirse
        </button>

        <input type="button" class="btn btn-success px-4 mt-4" onclick="location.href='/InscripcionesAlumno/Print';" value="Imprimir constancia" />
    </div>

</div>

<hr class="mt-5" />

<h2 class="text-center mb-4">Inscripciones vigentes</h2>

<div id="tarjetasInscripciones" class="container d-flex flex-row row mx-auto justify-content-center">

</div>

@{
    using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formInscripcion" }))
    {
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body contenedor-modal align-items-center">
                        <label class="mb-3">ID: </label>
                        @Html.TextBoxFor(model => model.ID, new { @id = "txtID", @readonly = "readonly", @class = "form-control limpiarCampo w-25 mb-3" })

                        <label class="mb-3">ID Alumno: </label>
                        @Html.TextBoxFor(model => model.IDAlumno, new { @id = "txtIDAlumno", @readonly = "readonly", @class = "form-control limpiarCampo w-25 mb-3" })

                        <label id="lblCondicion" class="mb-2">Condición: </label>
                        <input id="txtCondicion" type="text" class="form-control limpiarCampo habilitarCampo deshabilitarCampo mb-3" />

                        <label id="lblNota" class="mb-2">Nota: </label>
                        <input id="txtNota" type="number" min="1" max="10" class="form-control limpiarCampo habilitarCampo deshabilitarCampo mb-3" />

                        <label id="lblCurso">Curso: </label>
                        @Html.DropDownListFor(model => model.IDCurso, new SelectList(ViewBag.listado, "Value", "Text"), "--Seleccione un curso--", new { @id = "comboCursos", @class = "form-select limpiarCampo habilitarCampo deshabilitarCampo" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.IDCurso, null, new { @class = "text-danger mb-3" })
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnAceptar" type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    var idPer = getPerID();
    function getPerID() {
        return @Session["idPer"];
    }
</script>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/InscripcionesAlumno.js"></script>
