@{
    ViewBag.Title = "Usuarios";
}
@model Business.Entities.Usuario

<link href="~/Content/mis-estilos.css" rel="stylesheet" />

@{ if (ViewBag.Message != null)
    {
        if (ViewBag.Error == 1)
        {
            @:<div id="NotifContainer" style="background-color: khaki;">
                @:<h3 id="txtNotification"><i class="bi bi-exclamation-triangle"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
        else if (ViewBag.Error == 2)
        {
            @:<div id="NotifContainer" style="background-color: crimson;">
                @:<h3 id="txtNotification" style="color: white;"><i class="bi bi-exclamation-diamond"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
        else
        {
            @:<div id="NotifContainer" style="background-color: cornflowerblue;">
                @:<h3 id="txtNotification" style="color: white;"><i class="bi bi-info-circle"></i>&nbsp;@ViewBag.Message</h3>
            @:</div>
        }
    }
}

<div class="container-fluid d-flex mb-3">
    <div class="row me-4 col-3">
        <label class="form-label">Filtrar por usuario: </label>
        <input type="text" id="filtroUsuario" class="form-control" placeholder="Usuario a buscar" />
    </div>
    <div class="row me-4 col-3">
        <label class="form-label">Filtrar por mail: </label>
        <input type="text" id="filtroMail" class="form-control" placeholder="Mail a buscar" />
    </div>
</div>
<div class="mb-3">
    <input type="button" class="btn btn-outline-dark" id="limpia-filtro" value="Limpiar" style="max-height:3rem" />
</div>

<div id="tabla-usuarios" class="mb-5">

</div>

@{
    using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formUsuario" }))
    {
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body contenedor-modal align-items-center">
                        <label class="mb-3">ID: </label>
                        @Html.TextBoxFor(model => model.ID, new { @id = "txtID", @readonly = "readonly", @class = "form-control limpiarCampo w-25 mb-3" })

                        <label>Usuario: </label>
                        @Html.TextBoxFor(model => model.NombreUsuario, new { @id = "txtNombreUsuario", @class = "form-control limpiarCampo habilitarCampo deshabilitarCampo" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.NombreUsuario, null, new { @class = "text-danger mb-3" })

                        <label>Habilitado: </label>
                        <div>
                            @Html.CheckBoxFor(model => model.Habilitado, new { @id = "checkHabilitado", @style = "transform:scale(1.25)", @class = "form-check habilitarCampo deshabilitarCampo" })
                        </div>
                        <span></span>
                        @Html.ValidationMessageFor(model => model.Habilitado, null, new { @class = "text-danger mb-3" })

                        <label id="lblClave">Clave: </label>
                        @Html.TextBoxFor(model => model.Clave, new { @id = "txtClave", @type = "password", @class = "form-control limpiarCampo habilitarCampo deshabilitarCampo" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.Clave, null, new { @class = "text-danger mb-3" })

                        <label id="lblRepiteClave">Repetir clave: </label>
                        @Html.TextBoxFor(model => model.RepiteClave, new { @id = "txtRepiteClave", @type = "password", @class = "form-control limpiarCampo habilitarCampo deshabilitarCampo" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.RepiteClave, null, new { @class = "text-danger mb-3" })

                        <button id="btnVerClave" type="button" class='btn btn-outline-primary oculto'><i id="iconVerClave" class='bi bi-eye'></i></button>

                    </div>

                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnAceptar" type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/Usuarios.js"></script>